/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Basic reset and body styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Header and Navigation styles */
header {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.nav-links, .auth-buttons {
    display: none; /* Hide on smaller screens */
}

.nav-links li {
    margin-right: 48px; 
}

.nav-links li:last-child {
    margin-right: 0; 
}

.hamburger {
    display: flex; /* Show on smaller screens */
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger span {
    background-color: #000000;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
}

.mobile-menu {
    z-index: 10;
    position: fixed;
    width: calc(100vw - 32px);
    height: calc(50vh - 72px);
    background: white;

    top: 72px;
    left: 16px;

    border-radius: 16px;
}

.navbar-logo {
    height: 32px; 
}

.hero-section {
    padding-bottom: 160px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.weekly-recommendation {
    background: white;
    border-radius: 8px;
    border: 1px solid rgba(206, 243, 225, 0.80);
    padding: 4px 16px;
    text-align: center;
    color: #171717;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
}

.hero-headline {
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.highlight {
    background: #CEF3E1;
    border-radius: 8px;
    padding: 0 24px;
}

.hero-description {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    padding: 0 16px 24px 16px;
    max-width: 100%;
}

.action-button {
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-weight: 700;
    font-size: 16px;
    background-color: #09C269;
    color: #fff;
}

.action-button:hover {
    background-color: rgb(2, 109, 52);
}

.background {
    background-image: url(img/hero_bg.png); 
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat; 
}

/*Book list*/

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 40px 16px;
    box-sizing: border-box;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    text-align: center;
    flex: 1 1 184px; /* Flex grow, flex shrink, flex basis */
    min-width: calc(50% - 24px); 
    margin-bottom: 40px;
}

.book-cover {
    width: 80%;
    border-radius: 24px;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
}

.book-cover:hover {
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.4); /* Faint drop shadow on hover */
}

.book-author {
    line-height: 28px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.book-title {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
}

.book-price {
    display: inline-flex;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 8px 16px;
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 0.35px;
    position: relative; /* Added position */
    transition: background-color 0.3s, color 0.3s; /* Added transition */
}

/* Add plus icon on hover */
.book-price:hover::before {
    content: "+"; /* Plus icon */
    position: absolute;
    top: 50%; /* Vertically center */
    left: 5px; /* Adjust as needed */
    transform: translateY(-50%);
    font-size: 16px;
}

/* Change background color on hover */
.book-price:hover {
    background-color: #09C269; /* New background color */
    color: #fff; /* New text color */
    opacity: 1; /* Fully visible */
    border: 0;
}

/*Unlock your creativity*/

.stat-texts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 40px 16px;
    gap: 40px;
}

.creative-potential-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.unlock-creative {
    line-height: 48px;
    font-weight: bold;
    font-size: 40px;
    color: #000;
}

.creative-description {
    font-size: 20px;
    line-height: 32px;
    max-width: 540px;
}

.stats-section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.stat-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    padding: 20px;
    width: 182px;
    gap: 8px;
}

.stat-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.stat-special {
    width: 100%;
    height: 100%;
}

.stat-stars{
    font-size: 20px;
    color: #ffcc00;
    letter-spacing: 3px;
    line-height: 20px;
}

.stat-text {
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}

/*Level up Section*/

.level-up {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
}

.levelup-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-bottom: 24px;
}

.level-card-container {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
}

.level-card {
    display: flex;
    flex-direction: column;
    background-image: url('img/bluecard_bg.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 102px 40px 40px 40px;
    border-radius: 30px;
    color: #fff;
    width: 100%;
    gap: 24px;
}

.level-card2 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 30px;
    color: #000000;
    width: 100%;
    border: 2px solid #e5e7eb;
    gap: 134px;
}

.level-title {
    font-size: 32px;
    padding-bottom: 8px;
}

.level-description {
    font-size: 16px;
    line-height: 24px;
    max-width: 448px;
    padding-bottom: 24px;
}

.level-icon {
    width: 40px;
    height: 40px;
}

.level-button {
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-weight: 700;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/*Footer*/

.footer {
    background-color: #f6f6f6;
    padding: 40px 16px;
    font-family: 'Inter', sans-serif;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 48px;
}

.footer-column {
    min-width: 180px;
}

.footer-column h4 {
    margin-bottom: 24px;
    color: #000;
    opacity: 0.5;
    font-size: 12px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
}

.footer-column-subscribe {
    flex: 1;
    min-width: 300px;
    max-width: 520px;
}

.footer-column-subscribe form {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    height: 54px;
}

.footer-column-subscribe input {
    flex: 1;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.footer-column-subscribe button {
    padding: 10px 20px;
    background-color: #09c269;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
} 

.subscription-title {
    font-size: 24px;
    color:#000;
    font-weight: 700;
    padding-bottom: 8px;
}

.subscription-desc {
    font-size: 16px;
    color:#000;
    opacity: 0.6;
    padding-bottom: 16px;
    line-height: 24px;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    height: 54px;
    width: 100%;
    background: white;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
}

.subscribe-input {
    font-size: 16px;
}

.subscribe-input::placeholder {
    color: #6F6F6F;
    opacity: 0.6;
    font-size: 16px;
}

.subscribe-button {
    font-size: 14px;
}

.helper-text {
    font-size: 12px;
    color:#000;
    opacity: 0.5;
    padding-bottom: 8px;
}

.socials {
    width: 20px;
    height: 20px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E5E7EB;
    padding-top: 34px;
}  

.bottom-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copywrite {
    font-size: 16px;
}

.footies {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 14px;
}

.footies a {
    text-decoration: none;
    color: #000;
}

.bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding-top: 40px;
}

.gdpr {
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
}

.app-store {
    padding-left: 20px;
}

/* Media Query for larger screens */
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
    .nav-links {
        display: flex; /* Show the navigation links */
        list-style: none;
        margin: 0 auto; /* Centers nav links */
    }

    .nav-links li a {
        color: #000000;
        text-decoration: none;
        padding: 10px;
        display: block;
        font-weight: 400;
        font-size: 16px;
    }

    .nav-links li a:hover {
        background-color: #CEF3E1; 
        transition: background-color 0.3s ease; 
        border-radius: 6px;
    }

    .auth-buttons {
        display: flex; /* Show the buttons */
        align-items: center;
    }

    .signin-btn, .signup-btn {
        text-decoration: none;
        margin-left: 10px;
        padding: 12px 24px;
        border-radius: 6px;
        transition: background-color 0.3s;
        font-weight: 400;
        font-size: 16px;
    }

    .signup-btn {
        background-color: #09C269;
        color: #fff;
    }
    
    .signin-btn {
        background-color: transparent;
        color: #000000;
    }

    .signin-btn:hover {
        background-color: #CEF3E1;
    }

    .signup-btn:hover {
        background-color: rgb(2, 109, 52);
    }

    .hamburger {
        display: none; /* Hide the hamburger menu */
    }

    .hero-headline {
        font-size: 64px;
        line-height: 80px;
    }

    .hero-description {
        font-size: 20px;
        line-height: 32px;
    }


    .highlight {
    padding: 0;
    }

    .stat-texts {
        padding: 40px 96px;
        font-size: 48px;
        line-height: 60px;
        
    }
    
    .navbar {
        padding: 0 40px;
    }

    .level-up {
        padding: 96px;
    }

   
   
    
}

@media screen and (min-width: 1024px) {
    .book-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(16rem, 18rem));
    }

    .level-card-container {
        flex-direction: row;
    }

    /*Footer*/

    .footer {
        padding: 80px 64px;
    }

    .bottom-right {
        width: 100%;
        justify-content: flex-end;
        padding-top: 0;
    }
    
    .bottom-left {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: row;
        
    }  
}

@media screen and (min-width: 1440px) { 
    .book-list {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(5, minmax(16rem, 18rem));
    }
}

/* Utility classes */
.hidden {
    display: none;
}
